.no-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
}
.no-para {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Bree Serif';
  color: #ffffff;
}
